<div class="jumbotron">
  <h1 class="display-3">Pizza 42</h1>
  <p class="lead">Pizza42 is a national pizza delivery chain. Everybody seems to love their pizza, especially developers! Unfortunately Pizza 42 doesn’t really know its customers, since all orders today are placed over the phone. With just phone numbers, they really have no idea who is ordering, when they order, how often, and why. Their new marketing team feels they could deepen their already loyal customer base and expand to new customers if they could enable online ordering. Having rich/detailed customer information will also enable interesting marketing campaigns. Initially they are curious to know the demographics of their customers, primarily gender and their location(city).</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>
